* {
    font-family: 'Poppins', sans-serif;
}

h1, .name{
    font-family: 'Fredoka One', cursive;
}

.container {
    max-width: 1400px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 70px;
    color: #e53170;
    font-size: 36px;
}

#intro {
    text-align: center;
    margin-bottom: 60px;
}

img {
    width: 120px;
    height: 120px;
    padding-right: 15px;
    float: left;
}

.blocco {
    width: calc(33.3% - 40px);
    margin-right: 40px;
    margin-bottom: 50px;
    float: left;
    background-color: #0f0e17;
    color: white;
    box-shadow: 3px 3px 19px -2px rgba(8,8,8,0.75);
    -webkit-box-shadow: 3px 3px 19px -2px rgba(8,8,8,0.75);
    -moz-box-shadow: 3px 3px 19px -2px rgba(8,8,8,0.75);
}

.name {
    margin-top: 18px;
    font-size: 20px;
    
}

.email {
    color: #48bde0;
}

p {
    margin: 8px;
}

.sx {
    margin-left: 20px;
}

.dx {
    margin-right: 0px;
}

    



    
   