.container {
    max-width: 1400px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 70px;
}

#intro {
    text-align: center;
}

img {
    width: 120px;
    height: 120px;
    padding-right: 15px;
    float: left;
}

.blocco {
    width: 430px;
    margin-right: 40px;
    margin-bottom: 60px;
    float: left;
    background-color: black;
    color: white;
}



    
   